@use "../utils/variables"as *;
@use "../components/main-page-button";
@use "../utils/mixins"as *;


.main-footer{
    background-color: getColor('background-dark');
    color: getColor('white');
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        padding: 60px 0;
        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 144px;
            justify-content:center;
            align-items: baseline;
        }
        @include desktop{
            flex-direction: row;
            align-items: unset;
            gap: 0;
            flex-wrap: nowrap;
        }
    }
}


.footer-contact{

    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop{
        align-items: flex-start;
        width: 246px;
    }

    &__logo{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        letter-spacing: 0.03em;
        padding-bottom: 20px;
        &--accent{
            color: getColor('accent');
        }
    }
    &__link{
        font-size: 14px;
        line-height: 1.7;
        padding-bottom: 9px;
        letter-spacing: 0.03em;
        &--opacity{
            opacity: 0.6;
        }
    }
}

.footer-socials{
display: flex;
flex-direction: column;
align-items: center;
@include tablet {}
    @include desktop{
        margin: 12px 0 0 70px;
        align-items: flex-start;
    }
    &__text{
        text-transform: uppercase;
        line-height: 1.1428em;
        font-size: 14px;
    }
    &__icons-block{
        display:flex;
        column-gap: 10px;
        margin-top: 20px;
    }
    &__icon{
        display:flex;
        background-color: getColor('icon-footer');
        border-radius: 50px;
        fill: getColor('white');
        padding: 12px;
        &:hover,
        &:focus{
            background-color: getColor('accent');
            fill: getColor('white');
            cursor: pointer;
            transition-property: background-color;
            transition-duration: $default-duration;
            transition-timing-function: $default-timing-function;  
        }
    }
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    @include desktop{
        flex-direction: row;
        gap:0px;
        align-items: flex-start;
        margin: 12px 0 0 78px;
    }
    
    &__label{
        text-align: center;
        width: 100%;
        max-width: min(90%,450px);
        text-transform: uppercase;
        line-height: 1.1428em;
        font-size: 14px;
        @include desktop{
            max-width: 358px;
            text-align: start;
        }
    }
    &__input{
        height: 50px;
        background-color:inherit;
        border: 1px solid getColor('newsletter-border');
        border-radius: 4px;
        padding-left: 16px;
        margin-top: 20px;
        @include desktop{
            width: 358px;
        }
        &:focus{
            outline: 1px solid getColor('accent');
            transition-property: outline;
            transition-duration: $default-duration;
            transition-timing-function: $default-timing-function;
        }
    }
    &__button-icon{
        fill:getColor('white');
        margin-left: 24px;
    }
    &--btn-position{
        @include desktop{
        margin-left: 12px;
        margin-top: 36px;
    }
    }
    
}

