@use "../utils/variables"as *;
@use "../utils/mixins"as *;

.main-navigation {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    height: 79px;
    letter-spacing: 0.02em;
    

    &__menu { 
        display: flex;
        align-items: center;
        gap:46px;
        
        &--contact {
            display: none;
            
            @include tablet{
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                font-weight: 500;
                font-size: 14px;
                color: getColor('secondary');
                fill: getColor('secondary');
                align-items: start;
            }
            @include desktop{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            }
        }
    
        &--icon {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    

    &__link {
        
        display: none;
        @include tablet{
            display: flex;
        }

        &--logo{
            font-family: $seconrady-font;
            font-size: 26px;
            letter-spacing: 0.03em;
            display: block;
        }

        &--highlight{
            color: getColor('accent');
        }

        &--home{

            @include tablet{
                margin-left: 37px;
            }
            @include desktop{
                margin-left: 47px;
                }
        }
    }

    &__active-link{
        position: relative;
        display:flex;
        color: getColor('accent');

        &::after{
            content: '';
            width: 100%;
            height: 4px;
            background: getColor('accent');
            position: absolute;
            top: 44px;
            border-radius: 2px;
        }
    }
    &__hamburger{
        background-color: transparent;
        border: none;
        height: 16px;
        margin: auto 0;

        @include tablet {
            display:none;
        }

        &:hover,
        &:focus{
            fill: getColor('accent');
            cursor: pointer;
        }
        
    }
}