@use "../utils/variables"as *;
@use "../utils/mixins"as *;

.our-team{
    display: none;
    padding: 94px 0 94px 0;
    background-color: getColor('background-light');
    
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        box-shadow: 0px 3px 1px getShadow('first'), 0px 1px 2px getShadow('second'), 0px 2px 2px getShadow('third');
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 30px;
        text-align: center;
        background-color: getColor('white');
    }
    &__header{
        font-weight: 500;
        padding: 30px 0 10px 0;
    }
    &__icon{
        display: flex;
        gap:10px;
        justify-content: center;
        margin-top: 16px;
        fill: getColor('icon');
        &--background{
            display:flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            &:hover,
            &:focus{
                cursor: pointer;
                background-color: getColor('accent');
                fill: getColor('white');
                transition-property: fill, background-color;
                transition-duration: $default-duration;
                transition-timing-function: $default-timing-function;
            }
        }
    }

}

