@use "../utils/variables"as *;
@use "../utils/mixins"as *;

.our-clients{
    padding: 60px 0;
    @include desktop{
    padding: 94px 0;
}
    &__icons-group{
        display: inline-flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        fill: getColor('icon');
    }
    &__icon{
        padding: 17.71px 0 14.25px ;
        border: 1px solid getColor('icon');
        border-radius: 4px;
        max-width: 210px;
        height: 92px;

        @include tablet{
            max-width: 226px
        }
        @include desktop{
            max-width: 170px;
        }
        &:hover,
        &:focus{
            border: 1px solid getColor('accent');
            fill: getColor('accent');
            cursor: pointer;
            transition-property: fill, border;
            transition-duration: $default-duration;
            transition-timing-function: $default-timing-function;
        }
    }
}
